body {
    background-color: rgba(0,0,0, .1);
}

.container {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.card-header {
	    background-color: rgba(0,255,255);
}